/* General Reset */
body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


    font-family: "Onest", serif;
    font-weight: 300;
    /* Full viewport height */
}

/* App Container */
.app-container {
    max-width: 400px;
    /* Smaller width for app-like feel */
    width: 100%;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    /* Adjusts to content */
}

/* Header */
header {
    text-align: center;
    font-size: 24px;
}

header h1 {
    font-weight: 700;
}

header img {
    height: 200px;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background: #ffcbe1;
    border-radius: 5px;
    margin: 10px 0;
    width: 100%;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.322);
    transition: all ease-in-out 0.1s;
}

nav ul li a:hover {
    color: rgb(252, 233, 251);
    transition: all ease-in-out 0.1s;

}

/* Collection Grid */
.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.charm {
    background: white;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.charm img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}